{% if gallery.type == "grid" %}
    {% for row in gallery.rows %}
        <div class="gallery-row {{ row.layout }} fit-{{ row.object_fit | default('contain') }} row-margin-bottom-{{ row.row_margin_bottom or 'large' }}">
        {% for element in row.elements %}
            <div class="gallery-row-element {{ element.type }}">
            {% if element.type == "image" %}
                <img src="{{ element.file | url }}" alt="{{ element.alt }}"
                class="{% if gallery.lightbox %}lightbox-trigger{% endif %}"
                style="object-position: {{ element.focal_x or 50 }}% {{ element.focal_y or 50 }}%">
            {% elif element.type == "text" %}
                {{ element.text | markdown | safe }}
            {% elif element.type == "spacer" %}
                <div></div>
            {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}

{% elif gallery.type == "masonry" %}

    {% for column in [0,1,2] %}
        <div class="photography-column">

            {% for row in gallery.rows %}
            {% if row.elements[column] %}
                <img
                src="{{ row.elements[column].file | url }}"
                alt="{{ row.elements[column].alt }}"
                data-caption="{{ row.elements[column].caption }}"
                class="{% if gallery.lightbox %}lightbox-trigger{% endif %}">
            {% endif %}
            {% endfor %}

        </div>
    {% endfor %}

{% endif %}