{% set side = "left" if loop.index0 % 2 == 0 else "right" %}
<div class='project-card-wrapper half-photo-{{ side }}'>
  <a href="{{ project.url | url }}"
    class="project-card no-link">

    <img src="{{ project.data.main_image.file | url }}"
        alt="{{ project.data.title }}"
        class="half-photo-{{ side }}">

    <div class="project-overlay">
      <div class="project-info">
        <h3>{{ project.data.title }}</h3>
        <p>{{ project.data.roles_played }}</p>
      </div>
    </div>
  </a>
</div>