{% set side = "left" if loop.index0 % 2 == 0 else "right" %}
<div class='project-card-wrapper half-photo-{{ side }}'>
  <a href="{{ project.url | url }}"
    class="project-card no-link">
  
    {% from "macros/image.njk" import image %}
    {{ image( project.data.thumbnail_image, half-photo-{{ side }}) }}

    <div class="project-overlay">
      <div class="project-info">
        <h3>{{ project.data.title }}</h3>
        <p>{{ project.data.roles_played }}</p>
      </div>
    </div>
  </a>
</div>