<link rel="stylesheet" href="/assets/css/wada-quilts.css">
<div id='main-content-wrapper'>
  <div id="left-panel">
    <h3>Wada Quilt Block Generator</h3>
    <p id="intro-paragraph">This design tool pulls on classic quilt patterns and overlays
      color patterns from Sanzo Wada's Dictionary of Color Combinations, Volume 2. It was created by Kallie Rollenhagen,
      with generous assistance by Google Gemini.</p>
    <div id="bottom-buttons-wrapper">
      <button id="generateButton">Generate Quilt Block</button>
      {# <button id="generateGridButton">Generate Quilt Grids</button> #}
      <button id="downloadButton">Download Quilt Block</button>
    </div>
  </div>
  <div id="center-panel">
    <div id="wada-quilts-canvas">
    </div>
  </div>
  <div id="right-panel">
    <h3 id="combination-info"></h3>
    <div id="color-display">
      <div class="color-swatch">
        <span class="color-text"></span><span class="color-text"></span>
      </div>
      <div class="color-swatch">
        <span class="color-text"></span><span class="color-text"></span>
      </div>
      <div class="color-swatch">
        <span class="color-text"></span><span class="color-text"></span>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/p5.min.js"></script>
<script src="/assets/js/wada-quilts.js"></script>