{% macro image(element, classes="") %}
<img
  src="{{ element.file | url }}"
  alt="{{ element.alt }}"
  class="{{ classes }} {% if gallery.lightbox %} lightbox-trigger {% endif %}"
  style="object-position: {{ element.focal_x or 50 }}% {{ element.focal_y or 50 }}%">
{% endmacro %}