---
layout: layouts/base.njk
---
<div class="design-project-grid">
    <div class="design-text-container">

        <div class="design-text-top">
            <h2>{{ title }}</h2>

            {% if roles_played %}
                <span>{{ roles_played }}</span>
            {% endif %}

            {% if credits %}
            <p>
                {% for credit in credits %}
                    <span class="uppercase">{{ credit.role }}</span>:
                    {% if credit.url %}
                        <a href="{{ credit.url }}" target="_blank" rel="noopener noreferrer">
                            {{ credit.person }}
                        </a>
                    {% else %}
                        {{ credit.person }}
                    {% endif %}
                    <br>
                {% endfor %}
            </p>
            {% endif %}
        </div>

        <div class="design-text-rest">
            {{ project_description | markdown | safe }}
        </div>

    </div>

    {% from "macros/image.njk" import image %}
    {{ image( main_image, "design-img-first") }}

</div>

<div class="gallery design-project-gallery">
    {% include "components/gallery.njk" %}
</div>