---
gallery:
  lightbox: true
  type: grid
  rows:
    - layout: halves
      elements:
        - type: image
          file: /assets/images/0A9A5587.jpg
        - type: text
          text: Test text
main_image:
  file: /assets/images/Design-Carleton-Detour-From-the-Ordinary-36-hr-spread.avif
  alt: Alt
side_image:
  file: /assets/images/Design-CarletonSustainable-Futures-posters.avif
  alt: Alt
title: Test
permalink: /design/test.html
project_description: Test
---
