---
layout: layouts/base.njk
title: Wayside Magazine
permalink: /design/wayside-magazine.html
roles_played: Layout Design | Brand Development
credits:
  - role: Brand & Design System
    person: Kallie Rollenhagen
  - role: Photography
    person: Kallie Rollenhagen
main_image:
  file: Design-Wayside-all-covers.avif
  alt: Wayside Magazine covers
side_image:
  file: Design-Wayside-green-mockup.jpg
  alt: Wayside Magazine inner mock up
project_description: >
  <p>A quarterly travel magazine for off-the-road and underrated places, focused
  on the essence of a place—captured via essays and recommendations from locals
  and emotive film photography. Featured locations are primarily U.S. based,
  with more of a Midwest focus, occasionally featuring spots further afield.</p>

  <h3>Visual Direction</h3>

  <p>Adventurous and curious, embodied by documentary style photo essays;
  modern, slightly quirky typefaces; textural cover photos; and contemporary
  colors.</p>

  <h3>Brand Voice</h3>

  <p>An irreverent, sincere and authentic tilt, with a dash of the Monocle
  (design-forward) personality. A more edited and rural version of Atlas
  Obscura, content-wise.</p>

  <h3>Audience</h3>

  <p>Wayside appeals to folks who travel to live like locals and are interested
  in hidden gems, hanging out at the local cafe, and getting to know the people
  who live in a place. They are the vinyl hunters, light roast coffee drinkers,
  and film photographers looking for low-key mini-vacations while they save up
  to go to Tokyo.</p>

lower_rows:
    - layout: "left-wide"
      elements:
        - type: image
          file: 8-covers.png
          alt: 8 different Wayside covers
          span: wide
        - type: text
          text: Some caption text here
          span: narrow
    - layout: "right-wide"
      elements:
        - type: text
          text: Some caption text here
          span: narrow
        - type: image
          file: colors-for-web.png
          alt: colors selected from four photos
          span: wide
    - layout: "thirds"
      elements:
        - type: image
          file: Design-CarletonSustainable-Futures-posters.avif
          alt: colors selected from four photos
          span: third
        - type: image
          file: Design-CarletonSustainable-Futures-posters.avif
          alt: colors selected from four photos
          span: third
        - type: image
          file: Design-CarletonSustainable-Futures-posters.avif
          alt: colors selected from four photos
          span: third
    - layout: "full-width"
      elements:
        - type: image
          file: Design-Goldenrod-sandwich-board.avif
          alt: colors selected from four photos
          span: full-width
        
---
<div class="design-project-grid">
    <div class="design-text-container">
        <div class="design-text-top">
            <h2>{{ title }}</h2>
            <span>{{ roles_played }}</span>
            <p>
            {% for credit in credits %}
                <span class="uppercase">{{ credit.role }}</span>: {{ credit.person }}<br/>
            {% endfor %}
            </p>
        </div>
        <div class="design-text-rest">
            {{ project_description | safe }}
        </div>
    </div>
    <img class="design-img-first" src="{{ ('/assets/images/' + main_image.file) | url }}" alt="{{ main_image.alt }}">
    <img class="design-img-stacked" src="{{ ('/assets/images/' + side_image.file) | url }}" alt="{{ side_image.alt }}">
</div>
<div class="design-rows">
    {% for row in lower_rows %}
        <div class="design-row {{ row.layout }}">
        {% for element in row.elements %}
            <div class="design-row-element {{ element.type }}">
            {% if element.type == "image" %}
                <img src="{{ ('/assets/images/' + element.file) | url }}" alt="{{ element.alt }}">
            {% elif element.type == "text" %}
                <p>{{ element.text }}</p>
            {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>
    
    {# {% for lower_image in lower_images %}
        <img class="design-img-fullwidth" src="{{ ('/assets/images/' + lower_image.file) | url }}" alt="{{ lower_image.alt }}">
    {% endfor %} #}
