---
layout: layouts/base.njk
title: Design
permalink: /design.html
projects:
  - title: Wayside Magazine
    subtitle: Layout Design | Brand Development
    image: Design-Wayside-all-covers.jpg
    url: /design/wayside-magazine

  - title: Detour from the Ordinary
    subtitle: Layout Design | Brand Development
    image: Design-Carleton-Detour-From-the-Ordinary-36-hr-spread.jpg
    url: /design

  - title: RIAD Studio
    subtitle: Layout Design | Brand Development
    image: Design-RIAD-website.png
    url: /design

  - title: Carleton Sustainable Future
    subtitle: Layout Design | Brand Development
    image: Design-CarletonSustainable-Futures-posters.jpg
    url: /design

  - title: RDS Travel Guides
    subtitle: Layout Design | Brand Development
    image: Design-Travel-Guide-Northfield-covers-mockup.jpg
    url: /design

  - title: Goldenrod
    subtitle: Layout Design | Brand Development
    image: Design-Goldenrod-sandwich-board.png
    url: /design

  - title: Liberal Arts in Action
    subtitle: Layout Design | Brand Development
    image: Design-Carleton-Liberal-Arts-in-Action-social-mockups.jpg
    url: /design

  - title: Carleton College Comic
    subtitle: Layout Design | Brand Development
    image: Design-Carleton-Student-comic-unfolded.jpg
    url: /design
---

<div class="design-grid grid-inherit">

  {% for project in projects %}
    {% include "components/project-card.njk" %}
  {% endfor %}

</div>