<header>
    <nav>
    <a href="{{ '/' | url }}">
      {{ site.title }}
    </a>
    <button class="nav-toggle" aria-label="Toggle navigation menu">
        <span class="hamburger"></span>
    </button>
    <div class="nav-links">
      {% for id in site.navigation_menu %}
        {% set item = collections.pagesById[id] %}
        <a href="{{ item.url | url }}"
          class="{% if item.url in page.url %}active{% endif %}">
          {{ item.data.title }}
        </a>
      {% endfor %}
    </div>
    </nav>
    <hr/>
</header>