<div id='main-content-wrapper'>
  <div id="left-panel">
    <h1>Wada Quilt Block Generator</h1>
    <p id="intro-paragraph">This design tool pulls on classic quilt patterns and overlays
      color patterns from Sanzo Wada's Dictionary of Color Combinations, Volume 2. It was created by Kallie Rollenhagen,
      with generous assistance by Google Gemini.</p>
    <button id="generateButton">Generate New Quilt Block</button>
    <div id="bottom-buttons-wrapper">
      <button id="generateGridButton">Generate Quilt Grids</button>
      <button id="downloadButton">Download Quilt Block</button>
    </div>
  </div>
  <div id="center-panel">
    <canvas id="defaultCanvas0" class="p5Canvas"></canvas>
    <p id="quilt-name"></p>
  </div>
  <div id="right-panel">
    <p id="combination-info">Combination: <span></span></p>
    <div id="color-display">
      <div class="color-swatch">
        <span class="color-text"></span><span class="color-text"></span>
      </div>
      <div class="color-swatch">
        <span class="color-text"></span><span class="color-text"></span>
      </div>
      <div class="color-swatch">
        <span class="color-text"></span><span class="color-text"></span>
      </div>
    </div>
  </div>
</div>